body {  
  background-image: url('../public/images/background1.png');
  background-size:cover;
  background-color: rgba(0, 0, 0, 0.5);
  color: #c3d6e9;
  font-family: 'Poppins', sans-serif;
  background-repeat: no-repeat;
  height: 100vh;
}